<template>
  <h2>{{ existingRouteId ? 'Edit' : 'New' }} Route</h2>
  {{ localRoute }}
  <select-input :rows="daysOfTheWeek" v-model="localRoute.day" label="Day" />
  <select-input
    label="Employee"
    v-if="employeeRows"
    :rows="employeeRows"
    displayLabel="employeeName"
    v-model="localEmployee"
    :required="true"
    :validate="validateForm"
  />
  <h3>Stops</h3>
  <Container @drop="onDrop" className="stops-container">
    <Draggable v-for="(stop, i) in localRoute.route" :key="stop.id">
      <div className="stop">
        <span className="number"
          ><span>{{ i + 1 }}</span></span
        >
        <select-input
          label="Customer"
          v-if="customerRows"
          :rows="customerRows"
          v-model="localRoute.route[i]"
          :required="true"
          :validate="validateForm"
          className="customer-select"
        />
        <button @click="() => removeStop(i)" className="action remove">Remove</button>
      </div>
    </Draggable>
  </Container>
  <button @click="() => addStop({ name: '', address: '', id: getRandomInt(1, 10000) })" className="action edit">
    Add Stop
  </button>
  <!-- <div style="display: block">{{ localRoute }}</div> -->
  <button @click="addNewRoute" className="submit">Submit</button>
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeMount, ref, watch, Ref } from 'vue'
import { addRoute, getAllRoutes, RouteInt, CustInt } from '@/firebase/routes'
import { getAllEmployees, EmployeeInt } from '@/firebase/employees'
import { getAllCustomers, CustomerInt } from '@/firebase/customers'
import SelectInput from '@/components/inputs/SelectInput.vue'
import { useRouter, useRoute } from 'vue-router'
import { Container, Draggable } from 'vue3-smooth-dnd'

export default defineComponent({
  name: 'EditRoute',
  components: { Container, Draggable, SelectInput },
  setup() {
    const localRoute: Ref<RouteInt> = ref({
      id: '',
      day: '',
      employeeId: '',
      employeeName: '',
      route: [],
    })
    const router = useRouter()
    const employees = ref()
    const employeeRows = ref()
    const customers = ref()
    const customerRows = ref()
    const allRoutes = ref()
    const localEmployee = ref()
    const daysOfTheWeek = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
    const route = useRoute()
    const existingRouteId = computed(() => route.params.id as string)

    const addNewRoute = async () => {
      const submitVal = { ...localRoute.value, day: localRoute.value.day, ...localEmployee.value }
      await addRoute(submitVal)
      alert('Route Added')
      router.push('/routes')
    }

    const applyDrag = (arr: any, dragResult: any) => {
      console.log('arr', arr)
      console.log('dragresult', dragResult)
      const { removedIndex, addedIndex, payload } = dragResult

      if (removedIndex === null && addedIndex === null) return arr
      const result = [...arr]
      let itemToAdd = payload

      if (removedIndex !== null) {
        itemToAdd = result.splice(removedIndex, 1)[0]
      }
      if (addedIndex !== null) {
        result.splice(addedIndex, 0, itemToAdd)
      }
      return result
    }

    const onDrop = (dropResult: any) => {
      console.log('dropresult', dropResult)
      localRoute.value.route = applyDrag(localRoute.value.route, dropResult)
    }

    const addStop = (vals: CustInt) => {
      localRoute.value.route = localRoute.value.route ? [...localRoute.value.route, vals] : [vals]
    }

    const removeStop = (i: number) => {
      console.log('id', i)
      console.log('id', localRoute.value)
      console.log('array', localRoute.value.route?.splice(i, 1))
      // localRoute.value.route = localRoute.value.route?.splice(i, 1)
    }

    const getRandomInt = (min: number, max: number) => {
      min = Math.ceil(min)
      max = Math.floor(max)
      return Math.floor(Math.random() * (max - min + 1)) + min
    }

    watch(
      () => localRoute.value.day,
      () => {
        if (!localRoute.value.employeeId) {
          return
        }
        localRoute.value =
          allRoutes.value?.find(
            (single: RouteInt) =>
              single.employeeId === localRoute.value.employeeId && single.day === localRoute.value.day,
          ) || localRoute.value
      },
      { immediate: true },
    )

    watch(
      () => localRoute.value.employeeId,
      () => {
        if (!localRoute.value.day) {
          return
        }
        localRoute.value =
          allRoutes.value?.find(
            (single: RouteInt) =>
              single.employeeId === localRoute.value.employeeId && single.day === localRoute.value.day,
          ) || localRoute.value
      },
      { immediate: true },
    )

    onBeforeMount(async () => {
      employees.value = await getAllEmployees()
      employeeRows.value = employees.value.map((single: EmployeeInt) => ({
        employeeName: single.firstName + ' ' + single.lastName,
        employeeId: single.id,
      }))
      customers.value = await getAllCustomers()
      customerRows.value = customers.value.map((single: CustomerInt) => ({
        name: single.firstName + ' ' + single.lastName,
        id: single.id,
        address: single.address,
      }))
      allRoutes.value = await getAllRoutes()
      if (existingRouteId.value) {
        localRoute.value = allRoutes.value?.find((single: RouteInt) => single.id === existingRouteId.value)
      }
      localEmployee.value = {
        employeeName: localRoute.value.employeeName,
        employeeId: localRoute.value.employeeId,
      }
    })

    return {
      localRoute,
      addNewRoute,
      employees,
      employeeRows,
      customers,
      customerRows,
      onDrop,
      addStop,
      removeStop,
      getRandomInt,
      daysOfTheWeek,
      existingRouteId,
      localEmployee,
    }
  },
})
</script>

<style scoped lang="scss">
.action {
  display: block;
  margin-bottom: 50px;
}

.stops-container {
  margin-bottom: 50px;
}

.stop {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  margin: 50px 0;
  cursor: pointer;

  .number {
    margin-right: 10px;

    span {
      background: var(--blue);
      color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }

  .remove {
    background: var(--red);
    color: white;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .customer-select {
    flex: 1;
    margin-top: -20px;
  }
}
</style>
