<template>
  <shell-wrapper>
    <router-view></router-view>
  </shell-wrapper>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import ShellWrapper from '@/components/shell/ShellWrapper.vue'

export default defineComponent({
  name: 'EmployeeView',
  components: {
    ShellWrapper,
  },
  setup() {
    return {}
  },
})
</script>

<style scoped></style>
