<template>
  <div class="wrapper">
    <div className="content">
      <div class="logo">
        <img :src="require('/src/assets/blue-pools-icon.png')" width="100" />
        <h1 class="title">Service Manager</h1>
      </div>
      <h2>Create an Account</h2>
      <email-input
        type="text"
        placeholder="Email"
        v-model="email"
        :required="true"
        :validate="validateForm"
        label="Email"
      />
      <text-input
        type="password"
        placeholder="Password"
        v-model="password"
        :required="true"
        :validate="validateForm"
        label="Password"
      />
      <p v-if="errMsg.length > 0" className="login-error">{{ errMsg }}</p>
      <p>
        <button @click="register" className="action submit">
          <easy-spinner type="dots" size="15" color="white" v-if="loading" />{{ !loading ? 'Register' : '' }}
        </button>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { getAuth, createUserWithEmailAndPassword } from 'firebase/auth'
import { useRouter } from 'vue-router'
import TextInput from '@/components/inputs/TextInput.vue'
import EmailInput from '@/components/inputs/EmailInput.vue'
import useFormValidation from '@/modules/useFormValidation'

export default defineComponent({
  name: 'RegisterView',
  components: {
    TextInput,
    EmailInput,
  },
  setup(props) {
    const email = ref('')
    const password = ref('')
    const errMsg = ref('')
    const loading = ref(false)
    const router = useRouter()
    const { errors, formHasErrors } = useFormValidation()
    const validateForm = ref(false)
    const register = () => {
      validateForm.value = true
      if (formHasErrors.value === false) {
        loading.value = true
        createUserWithEmailAndPassword(getAuth(), email.value, password.value)
          .then(() => {
            router.push('/dashboard')
          })
          .catch(error => {
            console.error(error.code)
            alert(error.message)
            errMsg.value = error.message
          })
          .finally(() => {
            loading.value = false
          })
      }
    }
    return {
      props,
      email,
      password,
      register,
      validateForm,
      errors,
      errMsg,
      loading,
    }
  },
})
</script>
<style scoped lang="scss">
.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .content {
    max-width: 350px;
    width: 100%;
    padding: 100px 0;

    .logo {
      text-align: center;
    }
  }

  h2 {
    text-align: center;
  }

  .login-error {
    background: var(--red);
    color: white;
    margin-top: 10px;
    display: block;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 16px;
  }
}
</style>
