<template>
  <shell-wrapper>
    <h1 class="page-title">Dashboard</h1>
    <h3>Welcome {{ user?.email }}</h3>
    <recent-workorders />
  </shell-wrapper>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { getUser } from '@/services/authService';
import { useRouter } from 'vue-router';
import ShellWrapper from '@/components/shell/ShellWrapper.vue';
import RecentWorkorders from '@/components/widgets/RecentWorkorders.vue';

const router = useRouter();
const user = ref(null);

onMounted(async () => {
  try {
    user.value = await getUser();
  } catch (error) {
    console.error('Failed to fetch user data:', error);
    router.push('/login');
  }
});
</script>
