<template>
  <h2>Edit {{ id }}</h2>
  <customer-form :customer="localCustomer" @submit-customer-form="editCustomer" />
  <button @click="remove" className="delete">Delete</button>
</template>

<script setup lang="ts">
import { ref, computed, onBeforeMount } from 'vue';
import { updateAccount, getAccountById, deleteAccount, AccountInt } from '@/services/accountService';
import { useRouter, useRoute } from 'vue-router';
import CustomerForm from '@/components/forms/CustomerForm.vue';

const router = useRouter();
const route = useRoute();
const id = computed(() => route.params.id as string);
const localCustomer = ref();

const editCustomer = async (val: AccountInt) => {
  await updateAccount({ ...val, id: id.value });
  alert('Customer Updated');
  router.push(`/customers`);
};

const remove = async () => {
  await deleteAccount(id.value);
  alert('Deleted');
  router.push('/customers');
};

onBeforeMount(async () => {
  localCustomer.value = await getCustomerById(id.value);
});
</script>

<style scoped></style>
