<template>
  <h2>Edit {{ id }}</h2>
  <employee-form :employee="localEmployee" @submit-employee-form="editEmployee" />
  <button @click="remove" className="delete">Delete</button>
</template>

<script setup lang="ts">
import { ref, computed, onBeforeMount } from 'vue';
import { updateEmployee, getEmployeeById, deleteEmployee, EmployeeInt } from '@/services/employeeService';
import { useRouter, useRoute } from 'vue-router';
import EmployeeForm from '@/components/forms/EmployeeForm.vue';

const router = useRouter();
const route = useRoute();
const id = computed(() => route.params.id as string);
const localEmployee = ref();

const editEmployee = async (val: EmployeeInt) => {
  await updateEmployee({ ...val, id: id.value });
  alert('Employee Updated');
  router.push(`/employees`);
};

const remove = async () => {
  await deleteEmployee(id.value);
  alert('Deleted');
  router.push('/employees');
};

onBeforeMount(async () => {
  localEmployee.value = await getEmployeeById(id.value);
});
</script>

<style scoped></style>
