<template>
  <div class="wrapper">
    <div className="content">
      <div class="logo">
        <img src="/blue-pools-icon.png" width="100" alt="Blue Pools Logo" />
        <h1 class="title">Service Manager</h1>
      </div>
      <h2>Login to Your Account</h2>
      <email-input
        type="text"
        placeholder="Email"
        v-model="email"
        :required="true"
        :validate="validateForm"
        label="Email"
      />
      <text-input
        type="password"
        placeholder="Password"
        v-model="password"
        :required="true"
        :validate="validateForm"
        label="Password"
      />
      <p v-if="errMsg.length > 0" className="login-error">{{ errMsg }}</p>
      <button @click="signIn" class="action submit" :disabled="loading">
        <easy-spinner type="dots" size="15" color="white" v-if="loading" />{{ !loading ? 'Login' : '' }}
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { signIn as signInAuth, getCurrentEmployee } from '@/services/authService';
import { useRouter } from 'vue-router';
import TextInput from '@/components/inputs/TextInput.vue';
import EmailInput from '@/components/inputs/EmailInput.vue';
import useFormValidation from '@/modules/useFormValidation';

const email = ref('');
const password = ref('');
const errMsg = ref('');
const loading = ref(false);
const router = useRouter();
const { errors, formHasErrors } = useFormValidation();
const validateForm = ref(false);

const signIn = async () => {
  validateForm.value = true;
  if (formHasErrors.value === false) {
    loading.value = true;
    try {
      await signInAuth(email.value, password.value);
      await getCurrentEmployee(); // Verify employee exists and has proper access
      router.push('/');
    } catch (error: any) {
      console.error(error);
      switch (error.code) {
        case 'auth/invalid-email':
          errMsg.value = 'Invalid email';
          break;
        case 'auth/user-not-found':
          errMsg.value = 'No account with that email was found';
          break;
        case 'auth/wrong-password':
          errMsg.value = 'Incorrect password';
          break;
        default:
          errMsg.value = 'Email or password was incorrect';
          break;
      }
    } finally {
      loading.value = false;
    }
  }
};
</script>

<style scoped lang="scss">
.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .content {
    max-width: 350px;
    width: 100%;
    padding: 100px 0;

    .logo {
      text-align: center;
    }
  }

  h2 {
    text-align: center;
  }

  .login-error {
    background: var(--red);
    color: white;
    margin-top: 10px;
    display: block;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 16px;
  }
}
</style>
