<template>
  <h2>New Employee</h2>
  <employee-form @submit-employee-form="addNewEmployee" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { addEmployee, EmployeeInt } from '@/services/employeeService';
import { useRouter } from 'vue-router';
import EmployeeForm from '@/components/forms/EmployeeForm.vue';

export default defineComponent({
  name: 'NewEmployee',
  components: {
    EmployeeForm,
  },
  setup() {
    const router = useRouter();

    const addNewEmployee = async (val: EmployeeInt) => {
      await addEmployee(val);
      alert('Employee Added');
      router.push('/employees');
    };
    return {
      addNewEmployee,
    };
  },
});
</script>

<style scoped></style>
