<template>
  <h2>New Report</h2>
  <reports-form @submit-report-form="addNewReport" @found-address="handleAddressChange" :report="{ address }" />
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { addReport, type ReportInt } from '@/services/reportService';
import { useRouter } from 'vue-router';
import dayjs from 'dayjs';
import ReportsForm from '@/components/forms/ReportsForm.vue';

const router = useRouter();
const address = ref<string>();

const addNewReport = async (val: ReportInt) => {
  console.log('report', val);
  await addReport({ ...val, time: dayjs(val.time).format() });
  alert('Report Added');
  router.push('/reports');
};

const handleAddressChange = (add: string) => {
  address.value = add;
};
</script>

<style scoped></style>
