<template>
  <h2>New Workorder</h2>
  <workorder-form @submit-workorder-form="addNewWorkorder" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { addWorkorder, WorkorderInt } from '@/services/workorderService';
import { useRouter } from 'vue-router';
import WorkorderForm from '@/components/forms/WorkorderForm.vue';

export default defineComponent({
  name: 'NewWorkorder',
  components: {
    WorkorderForm,
  },
  setup() {
    const router = useRouter();

    const addNewWorkorder = async (val: WorkorderInt) => {
      await addWorkorder(val);
      alert('Workorder Added');
      router.push('/workorders');
    };

    return {
      addNewWorkorder,
    };
  },
});
</script>

<style scoped></style>
