<script setup lang="ts">
import ShellWrapper from '@/components/shell/ShellWrapper.vue';
</script>

<template>
  <shell-wrapper>
    <h1 class="page-title">Reports</h1>
    <router-view></router-view>
  </shell-wrapper>
</template>

<style scoped></style>
