<template>
  <shell-wrapper>
    <router-view></router-view>
  </shell-wrapper>
</template>

<script setup lang="ts">
import ShellWrapper from '@/components/shell/ShellWrapper.vue';
</script>

<style scoped></style>
