<template>
  <div class="single-report" v-if="localReport">
    <h1>{{ dayjs(localReport.time).format('lll') }}</h1>
    <table>
      <tr>
        <td><span class="label">Customer:</span></td>
        <td>{{ localReport.customerName }}</td>
      </tr>
      <tr>
        <td><span class="label">Address:</span></td>
        <td>{{ localReport.address }}</td>
      </tr>
      <tr>
        <td><span class="label">Employee:</span></td>
        <td>{{ localReport.employeeName }}</td>
      </tr>
      <tr>
        <td><span class="label">Chlorine:</span></td>
        <td>{{ localReport.chlorine }}</td>
      </tr>
      <tr>
        <td><span class="label">Chlorine Added:</span></td>
        <td>{{ localReport.chlAdded }}</td>
      </tr>
      <tr>
        <td><span class="label">PH:</span></td>
        <td>{{ localReport.ph }}</td>
      </tr>
      <tr>
        <td><span class="label">PH Added:</span></td>
        <td>{{ localReport.phAdded }}</td>
      </tr>
      <tr>
        <td><span class="label">TA:</span></td>
        <td>{{ localReport.ta }}</td>
      </tr>
      <tr>
        <td><span class="label">TA Added:</span></td>
        <td>{{ localReport.taAdded }}</td>
      </tr>
      <tr>
        <td><span class="label">Calcium:</span></td>
        <td>{{ localReport.calcium }}</td>
      </tr>
      <tr>
        <td><span class="label">Cal ADD:</span></td>
        <td>{{ localReport.calciumAdded }}</td>
      </tr>
      <tr>
        <td><span class="label">CYA:</span></td>
        <td>{{ localReport.cya }}</td>
      </tr>
      <tr>
        <td><span class="label">CYA ADD:</span></td>
        <td>{{ localReport.cyaAdded }}</td>
      </tr>
      <tr>
        <td><span class="label">Misc Additions:</span></td>
        <td>{{ localReport.miscAdded }}</td>
      </tr>
      <tr>
        <td><span class="label">Filter Cleaned:</span></td>
        <td>{{ localReport.filterCleaned }}</td>
      </tr>
      <tr>
        <td><span class="label">Notes:</span></td>
        <td>{{ localReport.notes }}</td>
      </tr>
    </table>
    <img :src="localReport.imageUrl" alt="Report Image" />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import { getReportById } from '@/services/reportService';
import dayjs from 'dayjs';

export default defineComponent({
  name: 'ReportsView',
  setup() {
    const route = useRoute();
    const id = computed(() => route.params.id as string);
    const localReport = ref();

    onBeforeMount(async () => {
      const cust = await getReportById(id.value);
      localReport.value = cust;
    });
    return {
      localReport,
      dayjs,
    };
  },
});
</script>

<style scoped></style>
