<template>
  <div v-if="UserStore.getters.role === 'admin'" :class="sidebarClasses">
    <router-link to="/" active-class="active"
      ><unicon name="dashboard" width="30px" height="30px" /><span>Dashboard</span></router-link
    >
    <router-link to="/customers" active-class="active"
      ><unicon name="swimmer" width="30px" height="30px" /><span>Customers</span></router-link
    >
    <router-link to="/employees" active-class="active"
      ><unicon name="constructor" width="30px" height="30px" /><span>Employees</span></router-link
    >
    <router-link to="/routes" active-class="active"
      ><unicon name="map" width="30px" height="30px" /><span>Routes</span></router-link
    >
    <router-link to="/workorders" active-class="active"
      ><unicon name="file-check" width="30px" height="30px" /><span>Workorders</span></router-link
    >
    <router-link to="/reports" active-class="active"
      ><unicon name="flask" width="30px" height="30px" /><span>Reports</span></router-link
    >
    <router-link to="/reports/new" active-class="active"
      ><unicon name="plus" width="30px" height="30px" /><span>New Report</span></router-link
    >
    <button class="close-menu" @click="toggleSidebar">
      <unicon name="arrow-left" width="30px" height="30px" />
    </button>
  </div>
  <div :class="sidebarClasses" v-else>
    <router-link :to="`/routes/employee/${UserStore.getters.employee.id}`" active-class="active"
      ><unicon name="map" width="30px" height="30px" /><span>My Route</span></router-link
    >
    <router-link :to="`/reports/employee/${UserStore.getters.employee.id}`" active-class="active"
      ><unicon name="flask" width="30px" height="30px" /><span>My Reports</span></router-link
    >
    <router-link to="/reports/new" active-class="active"
      ><unicon name="plus" width="30px" height="30px" /><span>New Report</span></router-link
    >
    <router-link to="/workorders/new" active-class="active"
      ><unicon name="plus" width="30px" height="30px" /><span>New Workorder</span></router-link
    >
    <button class="close-menu" @click="toggleSidebar">
      <unicon name="arrow-left" width="30px" height="30px" />
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
import UserStore from '@/store/UserStore'
import { colors } from '@/theme'

export default defineComponent({
  name: 'SideBar',
  setup() {
    const sidebarOpen = ref(true)
    const sidebarClasses = computed(() => {
      return sidebarOpen.value ? 'sidebar-wrapper' : 'sidebar-wrapper closed'
    })
    const toggleSidebar = () => {
      console.log('toggle sidebar')
      sidebarOpen.value = !sidebarOpen.value
    }
    return { colors, UserStore, toggleSidebar, sidebarOpen, sidebarClasses }
  },
})
</script>

<style scoped lang="scss">
.sidebar-wrapper {
  width: 280px;
  border-right: 1px solid var(--border-grey);
  height: 100%;
  display: flex;
  flex-direction: column;

  a {
    height: 70px;
    padding: 0 20px;
    color: var(--blue);
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid var(--border-grey);
    font-weight: 500;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;

    span {
      margin-left: 5px;
    }

    &:hover,
    &:focus,
    &.active {
      background: var(--blue);
      color: white;

      .unicon {
        fill: white;
      }
    }
  }

  &.closed {
    width: 70px;

    span {
      display: none;
    }
  }

  .close-menu {
    border: 1px solid var(--border-grey);
    margin: 10px;
    align-self: flex-end;

    .unicon {
      fill: var(--blue);
    }
  }
}

@media (max-width: 768px) {
  .sidebar-wrapper {
    display: none;
  }
}
</style>
