<template>
  <div>
    <text-input label="Title" v-model="props.workorder.title" :required="true" :validate="validateForm" />
    <text-input label="Description" v-model="props.workorder.description" :required="true" :validate="validateForm" />
    <select-input
      label="Employee"
      displayLabel="employeeName"
      v-if="employeeRows"
      :rows="employeeRows"
      v-model="localEmployee"
      :required="true"
      :validate="validateForm"
    />
    <select-input
      label="Customer"
      displayLabel="customerName"
      v-if="customerRows"
      :rows="customerRows"
      v-model="localCustomer"
      :required="true"
      :validate="validateForm"
    />
    <select-input
      label="Status"
      v-model="props.workorder.status"
      :rows="['Todo', 'In Progress', 'Complete']"
      :required="true"
      :validate="validateForm"
    />
    <button @click="submitForm" className="submit">Submit</button>
  </div>
</template>

<script setup lang="ts">
import { onBeforeMount, ref } from 'vue';
import { getAllEmployees, type EmployeeInt } from '@/services/employeeService';
import { getAllAccounts, type CustomerInt } from '@/services/accountService';
import TextInput from '@/components/inputs/TextInput.vue';
import SelectInput from '@/components/inputs/SelectInput.vue';
import useFormValidation from '@/modules/useFormValidation';

interface WorkorderFormData {
  title: string;
  description: string;
  employeeId: string;
  employeeName: string;
  customerId: string;
  customerName: string;
  status: string;
  tags: string;
}

interface Props {
  workorder: WorkorderFormData;
}

const props = withDefaults(defineProps<Props>(), {
  workorder: () => ({
    title: '',
    description: '',
    employeeId: '',
    employeeName: '',
    customerId: '',
    customerName: '',
    status: 'Todo',
    tags: '',
  }),
});

const emit = defineEmits<{
  (
    e: 'submitWorkorderForm',
    value: WorkorderFormData & {
      employeeId: string;
      employeeName: string;
      customerId: string;
      customerName: string;
    },
  ): void;
}>();

const validateForm = ref(false);
const employees = ref();
const employeeRows = ref();
const customers = ref();
const customerRows = ref();
const { errors, formHasErrors } = useFormValidation();
const localEmployee = ref();
const localCustomer = ref();

const submitForm = () => {
  validateForm.value = true;
  const submitVal = { ...props.workorder, ...localEmployee.value, ...localCustomer.value };
  return formHasErrors.value === false && emit('submitWorkorderForm', submitVal);
};

onBeforeMount(async () => {
  employees.value = await getAllEmployees();
  customers.value = await getAllAccounts();
  customerRows.value = customers.value.map((single: CustomerInt) => ({
    customerName: single.firstName + ' ' + single.lastName,
    customerId: single.id,
  }));
  employeeRows.value = employees.value.map((single: EmployeeInt) => ({
    employeeName: single.firstName + ' ' + single.lastName,
    employeeId: single.id,
  }));
  localEmployee.value = {
    employeeName: props.workorder.employeeName,
    employeeId: props.workorder.employeeId,
  };
  localCustomer.value = {
    customerName: props.workorder.customerName,
    customerId: props.workorder.customerId,
  };
});
</script>

<style scoped></style>
