<template>
  <div class="page-wrapper">
    <top-bar />
    <div class="content-wrapper" id="page-wrap">
      <side-bar />
      <div class="content">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import TopBar from './TopBar.vue';
import SideBar from './SideBar.vue';
</script>

<style scoped lang="scss">
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: space-between;
  height: 100%;

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
    width: 100%;
  }

  .content {
    flex-wrap: wrap;
    flex: 1;
    padding: 20px 30px 80px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
}
</style>
