<template>
  <div class="top-bar-wrapper">
    <div class="logo">
      <img src="/blue-pools-icon.png" width="30" alt="Blue Pools Icon" />
      <p class="title">Service Manager</p>
    </div>
    <div class="right">
      <span>{{ employee?.firstName }}</span> <span class="role">{{ role }}</span>
      <button @click="logout" className="logout"><unicon name="signout" width="20px" />Logout</button>
    </div>
    <div class="right-mobile" v-if="employee?.role === 'admin'">
      <Slide right :closeOnNavigation="true" :isOpen="isOpen" @closeMenu="() => (isOpen = false)" noOverlay>
        <router-link to="/" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="dashboard" width="25px" height="25px" /><span>Dashboard</span></router-link
        >
        <router-link to="/customers" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="swimmer" width="25px" height="25px" /><span>Customers</span></router-link
        >
        <router-link to="/employees" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="constructor" width="25px" height="25px" /><span>Employees</span></router-link
        >
        <router-link to="/routes" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="map" width="25px" height="25px" /><span>Routes</span></router-link
        >
        <router-link to="/workorders" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="file-check" width="25px" height="25px" /><span>Workorders</span></router-link
        >
        <router-link to="/reports" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="flask" width="25px" height="25px" /><span>Reports</span></router-link
        >
        <router-link to="/reports/new" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="plus" width="25px" height="25px" /><span>New Report</span></router-link
        >
      </Slide>
    </div>
    <div class="right-mobile" v-else>
      <Slide right :closeOnNavigation="true" :isOpen="isOpen" @closeMenu="() => (isOpen = false)" noOverlay>
        <router-link :to="`/routes/employee/${employee?.id}`" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="map" width="25px" height="25px" />My Route</router-link
        >
        <router-link :to="`/reports/employee/${employee?.id}`" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="flask" width="25px" height="25px" />My Reports</router-link
        >
        <router-link to="/reports/new" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="plus" width="25px" height="25px" />New Report</router-link
        >
        <router-link to="/workorders/new" active-class="active" @click="() => (isOpen = false)"
          ><unicon name="plus" width="25px" height="25px" />New Workorder</router-link
        >
      </Slide>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from 'vue';
import { signOut, getCurrentEmployee } from '@/services/authService';
import { useRouter } from 'vue-router';
import { Slide } from 'vue3-burger-menu';
import type { EmployeeInt } from '@/services/employeeService';

const router = useRouter();
const isOpen = ref(false);
const employee = ref<EmployeeInt | null>(null);

const logout = () => {
  signOut()
    .then(() => {
      router.push('/login');
    })
    .catch(error => {
      console.error(error);
    });
};

const role = computed(() => {
  return employee.value?.role || 'Employee';
});

onMounted(async () => {
  try {
    employee.value = await getCurrentEmployee();
  } catch (error) {
    console.error('Failed to fetch employee data:', error);
    router.push('/login');
  }
});
</script>

<style scoped lang="scss">
.top-bar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-grey);
  padding: 0 20px;

  .logo {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    margin: 0 0 0 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .right {
    display: flex;
    align-items: center;

    .role {
      background: var(--primary);
      padding: 5px 10px;
      color: white;
      text-transform: capitalize;
    }

    span {
      margin: 0 10px 0 0;
      font-size: 13px;
      font-weight: bold;
    }
  }

  .right-mobile {
    display: none;

    .unicon {
      fill: var(--blue);
    }

    span {
      margin-left: 5px;
      color: var(--blue);
    }
  }

  .logout {
    border: 1px solid var(--border-grey);
    padding: 5px;
    display: flex;
    align-items: center;

    .unicon {
      display: flex;
      margin-right: 5px;
    }

    &:hover {
      color: white !important;

      .unicon {
        fill: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .top-bar-wrapper {
    .title,
    .right {
      display: none;
    }

    .right-mobile {
      display: flex;
      justify-content: flex-end;

      .bm-item-list {
        a {
          color: var(--blue);
          border-bottom: 1px solid var(--border-grey);
          padding: 20px;
          font-weight: bold;

          .unicon {
            fill: var(--blue);
            display: flex;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
</style>
