<template>
  <div>
    <text-input label="First Name" v-model="props.customer.firstName" :required="true" :validate="validateForm" />
    <text-input label="Last Name" v-model="props.customer.lastName" :required="true" :validate="validateForm" />
    <text-input label="Address" v-model="props.customer.address" :required="true" :validate="validateForm" />
    <email-input label="Email" v-model="props.customer.email" :validate="validateForm" />
    <select-input
      label="Employee"
      displayLabel="employeeName"
      v-if="employeeRows"
      :rows="employeeRows"
      v-model="localEmployee"
      :required="true"
      :validate="validateForm"
    />
    <phone-input label="Phone" v-model="props.customer.phone" :required="true" :validate="validateForm" />
    <text-input label="Filter Size" v-model="props.customer.filterSizes" :validate="validateForm" />
    <text-input label="Service" v-model="props.customer.service" :validate="validateForm" />
    <text-input label="Neighborhood" v-model="props.customer.neighborhood" :validate="validateForm" />
    <text-input label="Side of House" v-model="props.customer.sideOfHouse" :validate="validateForm" />
    <text-input label="Gate Codes/Keys" v-model="props.customer.gateCodesKeys" :validate="validateForm" />
    <text-input label="Salt" v-model="props.customer.salt" :validate="validateForm" />
    <button @click="submitForm" :disabled="formHasErrors" className="submit">Submit</button>
  </div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, ref } from 'vue'
import { getAllEmployees, EmployeeInt } from '@/firebase/employees'
import TextInput from '@/components/inputs/TextInput.vue'
import EmailInput from '@/components/inputs/EmailInput.vue'
import PhoneInput from '@/components/inputs/PhoneInput.vue'
import SelectInput from '@/components/inputs/SelectInput.vue'
import useFormValidation from '@/modules/useFormValidation'

export default defineComponent({
  name: 'CustomerForm',
  components: {
    EmailInput,
    TextInput,
    PhoneInput,
    SelectInput,
  },
  props: {
    customer: {
      type: Object,
      default: () => ({
        firstName: '',
        lastName: '',
        address: '',
        email: '',
        employeeId: '',
        employeeName: '',
        phone: '',
        filterSizes: '',
        service: '',
        neighborhood: '',
        sideOfHouse: '',
        gateCodesKeys: '',
        salt: '',
      }),
    },
  },
  setup(props, context) {
    const validateForm = ref(false)
    const employees = ref()
    const employeeRows = ref()
    const { errors, formHasErrors } = useFormValidation()
    const localEmployee = ref()

    const submitForm = () => {
      validateForm.value = true
      const submitVal = { ...props.customer, ...localEmployee.value }

      return formHasErrors.value === false && context.emit('submitCustomerForm', submitVal)
    }

    onBeforeMount(async () => {
      employees.value = await getAllEmployees()
      employeeRows.value = employees.value.map((single: EmployeeInt) => ({
        employeeName: single.firstName + ' ' + single.lastName,
        employeeId: single.id,
      }))
      localEmployee.value = {
        employeeName: props.customer.employeeName,
        employeeId: props.customer.employeeId,
      }
    })

    return {
      props,
      submitForm,
      employees,
      errors,
      formHasErrors,
      validateForm,
      employeeRows,
      localEmployee,
    }
  },
})
</script>

<style scoped></style>
