<template>
  <div>
    <text-input label="First Name" v-model="props.employee.firstName" :required="true" :validate="validateForm" />
    <text-input label="Last Name" v-model="props.employee.lastName" :required="true" :validate="validateForm" />
    <text-input label="Address" v-model="props.employee.address" :required="true" :validate="validateForm" />
    <email-input label="Email" v-model="props.employee.email" :required="true" :validate="validateForm" />
    <phone-input label="Phone" v-model="props.employee.phone" :required="true" :validate="validateForm" />
    <button @click="submitForm" className="submit">Submit</button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import TextInput from '@/components/inputs/TextInput.vue'
import EmailInput from '@/components/inputs/EmailInput.vue'
import PhoneInput from '@/components/inputs/PhoneInput.vue'
import useFormValidation from '@/modules/useFormValidation'

export default defineComponent({
  name: 'EmployeeForm',
  components: {
    EmailInput,
    TextInput,
    PhoneInput,
  },
  props: {
    employee: {
      type: Object,
      default: () => ({
        firstName: '',
        lastName: '',
        address: '',
        email: '',
        phone: '',
      }),
    },
  },
  setup(props, context) {
    const validateForm = ref(false)
    const { errors, formHasErrors } = useFormValidation()

    const submitForm = () => {
      validateForm.value = true
      return formHasErrors.value === false && context.emit('submitEmployeeForm', props.employee)
    }

    return {
      props,
      submitForm,
      errors,
      formHasErrors,
      validateForm,
    }
  },
})
</script>

<style scoped></style>
