<template>
  <div class="recent-workorders">
    <h3>Reports Today: {{ localReports?.length }}</h3>
    <router-link to="/reports" active-class="active"
      ><unicon name="flask" width="25px" height="25px" /><span>View All</span></router-link
    >
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onBeforeMount } from 'vue'
import { getAllOpenOrders } from '@/firebase/workorders'

export default defineComponent({
  name: 'RecentReports',
  setup() {
    const localReports = ref()

    onBeforeMount(async () => {
      const orders = await getAllOpenOrders()
      localReports.value = orders && [...orders]
    })

    return { localReports }
  },
})
</script>

<style lang="scss" scoped>
.recent-workorders {
  display: flex;
  align-items: center;

  a {
    padding: 10px;
    color: var(--blue);
    text-decoration: none;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
    margin-left: 20px;

    span {
      margin-left: 5px;
    }

    .unicon {
      fill: var(--blue);
    }

    &:hover,
    &:focus,
    &.active {
      background: var(--blue);
      color: white;

      .unicon {
        fill: white;
      }
    }
  }
}
</style>
