<template>
  <button @click="props.onClick"><slot></slot></button>
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'ButtonInput',
  props: {
    onClick: {
      type: Function,
      required: true,
    },
  },
  setup(props, context) {
    return {}
  },
})
</script>
<style scoped>
button {
  background: transparent;
  border-radius: 0;
  border: 1px solid;
  padding: 5px 10px;
}
</style>
