<template>
  <div className="input-wrapper checkbox">
    <input :checked="inputValue" :disabled="props.disabled" type="checkbox" @input="handleInput" />
    <label>{{ props.label }}</label>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'CheckboxInput',
  props: {
    label: {
      type: String,
      required: true,
    },
    modelValue: {
      type: Boolean,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, context) {
    const inputValue = ref<boolean>(false)
    const handleInput = (event: any) => {
      inputValue.value = event.target.checked
      context.emit('update:modelValue', event.target.checked)
    }

    return {
      props,
      inputValue,
      handleInput,
    }
  },
})
</script>

<style scoped lang="scss">
label {
  font-size: 14px;
  color: var(--text-black);
  font-weight: bold;
  text-transform: uppercase;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid var(--border-grey);
  margin-bottom: 5px;
  color: var(--text-black);
}

.input-wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: start;

  input {
    width: auto;
    margin-right: 10px;
  }
}
</style>
