<template>
  <div className="input-wrapper">
    <label>{{ props.label }}<span v-if="props.required">*</span></label>
    <input type="file" @change="handleFileUpload()" accept="image/*" capture ref="file" />
    <div v-if="errors[props.label]" className="error-wrapper">
      <span className="error">{{ errors[props.label] }}</span>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue'
import useFormValidation from '@/modules/useFormValidation'

export default defineComponent({
  name: 'FileInput',
  props: {
    label: {
      type: String,
      default: '',
    },
    required: {
      type: Boolean,
      default: false,
    },
    validate: {
      type: Boolean,
      default: false,
    },
  },

  setup(props, context) {
    const fileObj = ref<File | null>()
    const file = ref<HTMLFormElement>()
    const { validateEmailField, errors } = useFormValidation()

    const handleFileUpload = async () => {
      // debugger;
      fileObj.value = file.value?.files[0]
      console.log('selected file', fileObj.value)
      context.emit('update:modelValue', fileObj.value)
      //Upload to server
    }

    return {
      handleFileUpload,
      file,
      props,
      errors,
      validateEmailField,
    }
  },
})
</script>
<style scoped>
label {
  font-size: 14px;
  color: var(--text-black);
  font-weight: bold;
  text-transform: uppercase;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid var(--border-grey);
  margin-bottom: 5px;
  color: var(--text-black);
}

.input-wrapper {
  margin-bottom: 10px;
}
</style>
