<template>
  <div className="select-wrapper">
    <label>{{ props.label }}<span v-if="props.required">*</span></label>
    <v-select
      v-model="inputValue"
      :options="props.rows"
      :label="props.displayLabel"
      @update:modelValue="handleInput"
    ></v-select>
    <div v-if="errors[props.label]" className="error-wrapper">
      <span className="error">{{ errors[props.label] }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import useFormValidation from '@/modules/useFormValidation'
import vSelect from 'vue-select'

export default defineComponent({
  name: 'SelectInput',
  components: { vSelect },
  props: {
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    modelValue: {
      type: Object,
      required: true,
    },
    required: {
      type: Boolean,
      default: false,
    },
    validate: {
      type: Boolean,
      default: false,
    },
    rows: {
      type: Array,
      required: true,
    },
    displayLabel: {
      type: String,
      default: 'name',
    },
  },
  setup(props, context) {
    const inputValue = ref()
    const { validateSelectField, errors } = useFormValidation()
    const validateInput = () => {
      props.required && validateSelectField(props.label, inputValue.value)
    }

    const handleInput = () => {
      validateInput()
      context.emit('update:modelValue', inputValue.value)
    }

    watch(
      () => props.modelValue,
      val => {
        inputValue.value = val
      },
      { immediate: true },
    )

    watch(
      () => props.validate,
      val => val && validateInput(),
      { immediate: true },
    )

    watch(
      () => inputValue.value,
      () => {
        handleInput()
      },
      { immediate: true },
    )

    return {
      props,
      validateInput,
      errors,
      inputValue,
      handleInput,
    }
  },
})
</script>

<style scoped>
>>> {
  --vs-border-radius: 3px;
  --vs-font-size: 16px;
  --vs-border-color: var(--border-grey);
  --vs-actions-padding: 10px;
  --vs-selected-color: var(--text-black);
}

.select-wrapper {
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  color: var(--text-black);
  font-weight: bold;
  text-transform: uppercase;
}
</style>
