<template>
  <div className="input-wrapper">
    <label>{{ props.label }}<span v-if="props.required">*</span></label>
    <input
      v-if="!props.textarea"
      :placeholder="props.placeholder"
      v-model="inputValue"
      :disabled="props.disabled"
      :type="props.type"
      @keyup="validateInput"
      @blur="validateInput"
      @input="handleInput"
    />
    <textarea
      v-else
      :placeholder="props.placeholder"
      v-model="inputValue"
      :disabled="props.disabled"
      @keyup="validateInput"
      @blur="validateInput"
      @input="handleInput"
    />
    <div v-if="errors[props.label]" className="error-wrapper">
      <span className="error">{{ errors[props.label] }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import useFormValidation from '@/modules/useFormValidation'

export default defineComponent({
  name: 'TextInput',
  props: {
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    modelValue: {
      type: String,
      required: true,
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    validate: {
      type: Boolean,
      default: false,
    },
    textarea: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'text',
    },
  },
  setup(props, context) {
    const inputValue = ref<string>('')
    const { validateTextField, errors } = useFormValidation()
    const validateInput = () => {
      props.required && validateTextField(props.label, inputValue.value)
    }

    const handleInput = () => {
      context.emit('update:modelValue', inputValue.value)
    }

    watch(
      () => props.modelValue,
      val => {
        inputValue.value = val
      },
      { immediate: true },
    )

    watch(
      () => props.validate,
      val => val && validateInput(),
      { immediate: true },
    )

    return {
      props,
      validateInput,
      errors,
      inputValue,
      handleInput,
    }
  },
})
</script>

<style scoped>
label {
  font-size: 14px;
  color: var(--text-black);
  font-weight: bold;
  text-transform: uppercase;
}

input,
textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid var(--border-grey);
  margin-bottom: 5px;
  color: var(--text-black);
}

.input-wrapper {
  margin-bottom: 10px;
}
</style>
