<template>
  <div class="page-heading">
    <h1 class="page-title">Customers</h1>
    <router-link to="/customers/new" className="action new"><unicon name="plus" fill="white" />New</router-link>
  </div>
  <div v-if="localCustomerRows">
    <vue-good-table
      :columns="customerColumns"
      :rows="localCustomerRows"
      :search-options="{
        enabled: true,
      }"
      ref="tableData"
    >
      <template #table-actions>
        <button @click="downloadTable" class="action new">
          <unicon name="file-download" width="20px" height="20px" fill="white" />
          Download
        </button>
      </template>
      <template #table-row="props">
        <span v-if="props.column.field == 'actions'">
          <router-link :to="`/customers/edit/${props.row.id}`" className="action edit"
            ><unicon name="edit" width="15px" />Edit</router-link
          >
        </span>
        <span v-else>
          {{ props.formattedRow[props.column.field] }}
        </span>
      </template>
    </vue-good-table>
  </div>
  <div v-else class="dot-wrapper">
    <easy-spinner type="dots" size="60" color="#3c79f5" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onBeforeMount } from 'vue'
import { getAllCustomers, customerColumns } from '@/firebase/customers'
import exportFromJSON from 'export-from-json'
import dayjs from 'dayjs'

export default defineComponent({
  name: 'CustomerTable',
  setup() {
    const localCustomers = ref()
    const localCustomerRows = ref()
    const tableData = ref()

    const downloadTable = () => {
      const data = tableData.value?.processedRows[0]?.children
      const fileName = 'Customers_' + dayjs().format('M-DD-YY-hh:mm:ss')
      const exportType = exportFromJSON.types.csv
      const columnOrder = customerColumns.map((column: any) => column.field)
      const customSort = (a: any, b: any) => {
        const indexOfA = columnOrder.indexOf(a.fieldName)
        const indexOfB = columnOrder.indexOf(b.fieldName)
        if (indexOfA > -1 && indexOfB > -1) return indexOfA - indexOfB
      }

      const beforeTableEncode = (rows: any) => {
        rows.sort(customSort)
        return rows
      }

      exportFromJSON({ data, fileName, exportType, beforeTableEncode })
    }

    onBeforeMount(async () => {
      const cust = await getAllCustomers()
      localCustomers.value = cust && [...cust]
      localCustomerRows.value = cust.map(
        ({
          firstName,
          lastName,
          address,
          email,
          employeeName,
          phone,
          id,
          filterSizes,
          service,
          neighborhood,
          sideOfHouse,
          gateCodesKeys,
          salt,
        }: any) => ({
          firstName,
          lastName,
          address,
          email,
          employeeName,
          phone,
          filterSizes,
          service,
          neighborhood,
          sideOfHouse,
          gateCodesKeys,
          salt,
          id,
        }),
      )
    })

    return {
      localCustomers,
      customerColumns,
      localCustomerRows,
      downloadTable,
      tableData,
    }
  },
})
</script>

<style scoped></style>
