<template>
  <div class="page-heading" v-if="!id">
    <h1 class="page-title">Routes</h1>
    <router-link to="/routes/edit" className="action new"
      ><unicon name="plus" width="15px" fill="white" />New Route</router-link
    >
  </div>
  <div v-if="localRoutes" className="routes-wrapper">
    <div v-for="(person, personName) in routesByPerson" v-bind:key="personName" className="employee">
      <p className="name" v-if="!id">{{ personName }}</p>
      <h1 class="page-title" v-else>{{ personName }}'s Route</h1>
      <div className="day-wrapper">
        <span v-for="day in week" v-bind:key="day" className="single-day">
          <button
            v-if="person[day]"
            @click="setSelectedRoute(person[day].route, personName, day, person[day].id)"
            className="view-route"
          >
            {{ day }}
          </button>
          <span v-else className="empty-route">{{ day }}</span>
        </span>
      </div>
    </div>
  </div>
  <div v-else class="dot-wrapper">
    <easy-spinner type="dots" size="60" color="#3c79f5" />
  </div>
  <ul v-if="selectedRoute" className="route-list">
    <div class="route-name">
      <h2>{{ selectedRoute.person }}'s {{ selectedRoute.day }} Route</h2>
      <router-link :to="`/routes/edit/${selectedRoute.id}`" className="action edit"
        ><unicon name="edit" width="15px" />Edit Route</router-link
      >
    </div>
    <li v-for="(route, i) in selectedRoute.route" v-bind:key="route.name">
      <p className="number">
        <span>{{ Number(i) + 1 }}</span>
      </p>
      <p><span className="label">Customer:</span> {{ route.name }}</p>
      <p><span className="label">Address:</span> {{ route.address }}</p>
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent, ref, onBeforeMount, computed } from 'vue'
import { getAllRoutes, RouteInt, getAllEmployeeRoutes } from '@/firebase/routes'
import { useRoute } from 'vue-router'

export default defineComponent({
  name: 'RoutesTable',
  setup() {
    const localRoutes = ref()
    const selectedRoute = ref()
    const week: string[] = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
    const route = useRoute()
    const id = computed(() => route.params.id as string)

    const routesByPerson = computed(() => {
      let result: any = {}
      localRoutes.value.forEach((route: RouteInt) => {
        if (route.employeeName !== undefined && route.day !== undefined) {
          if (!result[route.employeeName]) {
            result[route.employeeName] = {
              [route.day]: { id: route.id, route: route.route },
            }
          } else {
            result[route.employeeName] = {
              ...result[route.employeeName],
              [route.day]: { id: route.id, route: route.route },
            }
          }
        }
      })
      return result
    })

    const setSelectedRoute = (route: RouteInt, person: string, day: string, id: string) =>
      (selectedRoute.value = { route, person, day, id })

    onBeforeMount(async () => {
      let cust
      if (id.value) {
        cust = await getAllEmployeeRoutes(id.value)
      } else {
        cust = await getAllRoutes()
      }
      localRoutes.value = cust && [...cust]
    })

    return {
      localRoutes,
      week,
      routesByPerson,
      selectedRoute,
      setSelectedRoute,
      id,
    }
  },
})
</script>

<style scoped lang="scss">
.routes-wrapper {
  .employee {
    margin-bottom: 40px;
    .name {
      font-weight: bold;
    }
  }

  .day-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;

    .single-day {
      border: 1px solid var(--border-grey);
      flex: 1;
      margin-right: -1px;
    }
  }

  .view-route {
    border: none;
    font-size: 18px;
    color: white;
    background: var(--light-blue);
    display: block;
    width: 100%;
    padding: 10px;
    line-height: 1.3;
    text-transform: capitalize;

    &:hover {
      background: #333;
    }
  }

  .empty-route {
    font-size: 18px;
    color: var(--text-grey);
    padding: 10px;
    display: block;
    line-height: 1.3;
    text-transform: capitalize;
  }
}

.route-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .route-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;

    h2 {
      margin: 0;
    }
  }

  li {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: left;
    padding: 15px 0;
    border: 1px solid var(--border-grey);
    margin-bottom: -1px;

    p {
      margin: 0 10px;
      flex: 1;
      font-size: 18px;
      padding: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &.number {
        flex: 0;

        span {
          border: 1px solid var(--text-black);
          color: white;
          background: var(--text-black);
          font-weight: bold;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          text-align: center;
        }
      }

      .label {
        background: var(--primary);
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px;
        margin-right: 10px;
      }
    }
  }

  h2 {
    text-transform: capitalize;
  }
}

@media (max-width: 768px) {
  .route-list {
    li {
      p {
        flex-wrap: wrap;

        .label {
          margin-bottom: 10px;
          margin-right: 0;
        }
      }
    }
  }
}
</style>
