<script setup lang="ts">
defineProps<{
  onClick: () => void;
}>();
</script>

<template>
  <button @click="onClick"><slot></slot></button>
</template>

<style scoped>
button {
  background: transparent;
  border-radius: 0;
  border: 1px solid;
  padding: 5px 10px;
}
</style>
