<template>
  <div className="input-wrapper checkbox">
    <input :checked="inputValue" :disabled="disabled" type="checkbox" @input="handleInput" />
    <label>{{ label }}</label>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const props = defineProps<{
  label: string;
  modelValue: boolean;
  disabled?: boolean;
}>();

const emit = defineEmits<{
  'update:modelValue': [value: boolean];
}>();

const inputValue = ref<boolean>(false);

const handleInput = (event: Event) => {
  const target = event.target as HTMLInputElement;
  inputValue.value = target.checked;
  emit('update:modelValue', target.checked);
};
</script>

<style scoped lang="scss">
label {
  font-size: 14px;
  color: var(--text-black);
  font-weight: bold;
  text-transform: uppercase;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid var(--border-grey);
  margin-bottom: 5px;
  color: var(--text-black);
}

.input-wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: start;

  input {
    width: auto;
    margin-right: 10px;
  }
}
</style>
