<template>
  <div className="input-wrapper">
    <label>{{ props.label }}<span v-if="props.required">*</span></label>
    <input
      type="email"
      :placeholder="props.placeholder"
      autocomplete="off"
      :disabled="props.disabled"
      v-model="inputValue"
      @keyup="validateInput"
      @blur="validateInput"
      @input="handleInput"
    />
    <div v-if="errors[props.label]" className="error-wrapper">
      <span className="error">{{ errors[props.label] }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import useFormValidation from '@/modules/useFormValidation';

interface Props {
  label?: string;
  placeholder?: string;
  modelValue: string;
  required?: boolean;
  disabled?: boolean;
  validate?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  label: '',
  placeholder: '',
  required: false,
  disabled: false,
  validate: false,
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
}>();

const inputValue = ref('');
const { validateEmailField, errors } = useFormValidation();

const validateInput = () => {
  props.required && validateEmailField(props.label, inputValue.value);
};

const handleInput = () => {
  emit('update:modelValue', inputValue.value);
};

watch(
  () => props.modelValue,
  val => {
    inputValue.value = val;
  },
  { immediate: true },
);

watch(
  () => props.validate,
  val => val && validateInput(),
  { immediate: true },
);
</script>

<style scoped>
label {
  font-size: 14px;
  color: var(--text-black);
  font-weight: bold;
  text-transform: uppercase;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid var(--border-grey);
  margin-bottom: 5px;
  color: var(--text-black);
}

.input-wrapper {
  margin-bottom: 10px;
}
</style>
