<template>
  <div className="input-wrapper">
    <label>{{ label }}<span v-if="required">*</span></label>
    <input type="file" @change="handleFileUpload()" accept="image/*" capture ref="file" />
    <div v-if="errors[label]" className="error-wrapper">
      <span className="error">{{ errors[label] }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import useFormValidation from '@/modules/useFormValidation';

const props = withDefaults(
  defineProps<{
    label?: string;
    required?: boolean;
    validate?: boolean;
  }>(),
  {
    label: '',
    required: false,
    validate: false,
  },
);

const emit = defineEmits<{
  'update:modelValue': [value: File | null];
}>();

const fileObj = ref<File | null>(null);
const file = ref<HTMLInputElement>();
const { validateEmailField, errors } = useFormValidation();

const handleFileUpload = async () => {
  fileObj.value = file.value?.files?.[0] || null;
  console.log('selected file', fileObj.value);
  emit('update:modelValue', fileObj.value);
};
</script>

<style scoped>
label {
  font-size: 14px;
  color: var(--text-black);
  font-weight: bold;
  text-transform: uppercase;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid var(--border-grey);
  margin-bottom: 5px;
  color: var(--text-black);
}

.input-wrapper {
  margin-bottom: 10px;
}
</style>
