<template>
  <div className="input-wrapper">
    <label>{{ label }}<span v-if="required">*</span></label>
    <input
      type="text"
      :placeholder="placeholder"
      autocomplete="off"
      :disabled="disabled"
      v-model="inputValue"
      @keyup="validateInput"
      @blur="validateInput"
      @input="handleInput"
    />
    <div v-if="errors[label]" className="error-wrapper">
      <span className="error">{{ errors[label] }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import useFormValidation from '@/modules/useFormValidation';

const props = withDefaults(
  defineProps<{
    label?: string;
    placeholder?: string;
    modelValue: string;
    required?: boolean;
    disabled?: boolean;
    validate?: boolean;
  }>(),
  {
    label: '',
    placeholder: '',
    required: false,
    disabled: false,
    validate: false,
  },
);

const emit = defineEmits<{
  'update:modelValue': [value: string];
}>();

const inputValue = ref('');
const { validatePhoneField, errors } = useFormValidation();

const validateInput = () => {
  props.required && validatePhoneField(props.label, inputValue.value);
};

const handleInput = () => {
  emit('update:modelValue', inputValue.value);
};

watch(
  () => props.modelValue,
  val => {
    inputValue.value = val;
  },
  { immediate: true },
);

watch(
  () => props.validate,
  val => val && validateInput(),
  { immediate: true },
);
</script>

<style scoped>
label {
  font-size: 14px;
  color: var(--text-black);
  font-weight: bold;
  text-transform: uppercase;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid var(--border-grey);
  margin-bottom: 5px;
  color: var(--text-black);
}

.input-wrapper {
  margin-bottom: 10px;
}
</style>
