<template>
  <div className="select-wrapper">
    <label>{{ props.label }}<span v-if="props.required">*</span></label>
    <v-select
      v-model="inputValue"
      :options="props.rows"
      :label="props.displayLabel"
      @update:modelValue="handleInput"
    ></v-select>
    <div v-if="errors[props.label]" className="error-wrapper">
      <span className="error">{{ errors[props.label] }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import useFormValidation from '@/modules/useFormValidation';
import vSelect from 'vue-select';

interface Props {
  label?: string;
  placeholder?: string;
  modelValue: Record<string, any>;
  required?: boolean;
  validate?: boolean;
  rows: any[];
  displayLabel?: string;
}

const props = withDefaults(defineProps<Props>(), {
  label: '',
  placeholder: '',
  required: false,
  validate: false,
  displayLabel: 'name',
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: Record<string, any>): void;
}>();

const inputValue = ref();
const { validateSelectField, errors } = useFormValidation();

const validateInput = () => {
  props.required && validateSelectField(props.label, inputValue.value);
};

const handleInput = () => {
  validateInput();
  emit('update:modelValue', inputValue.value);
};

watch(
  () => props.modelValue,
  val => {
    inputValue.value = val;
  },
  { immediate: true },
);

watch(
  () => props.validate,
  val => val && validateInput(),
  { immediate: true },
);

watch(
  () => inputValue.value,
  () => {
    handleInput();
  },
  { immediate: true },
);
</script>

<style scoped>
:deep(.vs__dropdown-toggle) {
  --vs-border-radius: 3px;
  --vs-font-size: 16px;
  --vs-border-color: var(--border-grey);
  --vs-actions-padding: 10px;
  --vs-selected-color: var(--text-black);
}

.select-wrapper {
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  color: var(--text-black);
  font-weight: bold;
  text-transform: uppercase;
}
</style>
