<template>
  <div class="page-heading">
    <h1 class="page-title">Employees</h1>
    <router-link to="/employees/new" className="action new"><unicon name="plus" fill="white" />New</router-link>
  </div>
  <div v-if="localEmployeeRows">
    <vue-good-table
      :columns="employeeColumns"
      :rows="localEmployeeRows"
      :search-options="{
        enabled: true,
      }"
      ref="tableData"
    >
      <template #table-actions>
        <button @click="downloadTable" class="action new">
          <unicon name="file-download" width="20px" height="20px" fill="white" />
          Download
        </button>
      </template>
      <template #table-row="props">
        <span v-if="props.column.field == 'Actions'">
          <router-link :to="`/employees/edit/${props.row.Actions}`" className="action edit"
            ><unicon name="edit" width="15px" />Edit</router-link
          >
        </span>
        <span v-else>
          {{ props.formattedRow[props.column.field] }}
        </span>
      </template>
    </vue-good-table>
  </div>
  <div v-else class="dot-wrapper">
    <easy-spinner type="dots" size="60" color="#3c79f5" />
  </div>
</template>

<script setup lang="ts">
import { ref, onBeforeMount } from 'vue';
import { getAllEmployees, employeeColumns } from '@/services/employeeService';
import exportFromJSON from 'export-from-json';
import dayjs from 'dayjs';

interface EmployeeRow {
  firstName: string;
  lastName: string;
  address: string;
  email: string;
  phone: string;
  id: string;
}

interface EmployeeTableRow {
  firstName: string;
  lastName: string;
  address: string;
  email: string;
  phone: string;
  Actions: string;
}

const localEmployees = ref<EmployeeRow[]>();
const localEmployeeRows = ref<EmployeeTableRow[]>();
const tableData = ref();

const downloadTable = () => {
  const data = tableData.value?.processedRows[0]?.children;
  const fileName = 'Employees_' + dayjs().format('M-DD-YY-hh:mm:ss');
  const exportType = exportFromJSON.types.csv;
  const columnOrder = employeeColumns.map((column: any) => column.field);

  const customSort = (a: any, b: any) => {
    const indexOfA = columnOrder.indexOf(a.fieldName);
    const indexOfB = columnOrder.indexOf(b.fieldName);
    if (indexOfA > -1 && indexOfB > -1) return indexOfA - indexOfB;
  };

  const beforeTableEncode = (rows: any) => {
    rows.sort(customSort);
    return rows;
  };

  exportFromJSON({ data, fileName, exportType, beforeTableEncode });
};

onBeforeMount(async () => {
  const cust = await getAllEmployees();
  localEmployees.value = cust && [...cust];
  localEmployeeRows.value = cust.map(({ firstName, lastName, address, email, phone, id }: EmployeeRow) => ({
    firstName,
    lastName,
    address,
    email,
    phone,
    Actions: id,
  }));
});
</script>

<style scoped></style>
