<template>
  <div class="page-heading">
    <h1 class="page-title">Workorders</h1>
    <router-link to="/workorders/new" className="action new"><unicon name="plus" fill="white" />New</router-link>
  </div>
  <div v-if="localWorkorderRows">
    <vue-good-table
      :columns="workorderColumns"
      :rows="localWorkorderRows"
      :search-options="{
        enabled: true,
      }"
      ref="tableData"
    >
      <template #table-actions>
        <button @click="downloadTable" class="action new">
          <unicon name="file-download" width="20px" height="20px" fill="white" />
          Download
        </button>
      </template>
      <template #table-row="props">
        <span v-if="props.column.field == 'actions'" class="button-wrapper">
          <router-link :to="`/workorders/edit/${props.row.id}`" className="action edit"
            ><unicon name="edit" width="15px" />Edit</router-link
          >
          <button
            @click="completeWorkorder(props.row.id)"
            className="action new"
            v-if="props.row.status !== 'Complete' && isLoading?.[props.row.id] !== 'hidden'"
          >
            <span v-if="isLoading?.[props.row.id] === 'loading'"
              ><easy-spinner type="dots" size="24" color="white"
            /></span>
            <span v-else> <unicon name="check" width="15px" fill="white" />Complete </span>
          </button>
        </span>
        <span v-else>
          {{ props.formattedRow[props.column.field] }}
        </span>
      </template>
    </vue-good-table>
  </div>
  <div v-else class="dot-wrapper">
    <easy-spinner type="dots" size="60" color="#3c79f5" />
  </div>
</template>

<script setup lang="ts">
import { ref, onBeforeMount } from 'vue';
import { getAllWorkorders, workorderColumns, markWorkorderComplete } from '@/services/workorderService';
import exportFromJSON from 'export-from-json';
import dayjs from 'dayjs';

interface WorkorderRow {
  title: string;
  description: string;
  employeeId: string;
  employeeName: string;
  customerId: string;
  customerName: string;
  status: string;
  comments: string;
  id: string;
}

interface LoadingState {
  [key: string]: 'loading' | 'hidden';
}

const localWorkorders = ref<WorkorderRow[]>();
const localWorkorderRows = ref<WorkorderRow[]>();
const tableData = ref();
const isLoading = ref<LoadingState>();

const downloadTable = () => {
  const data = tableData.value?.processedRows[0]?.children;
  const fileName = 'Workorders_' + dayjs().format('M-DD-YY-hh:mm:ss');
  const exportType = exportFromJSON.types.csv;
  const columnOrder = workorderColumns.map((column: any) => column.field);

  const customSort = (a: any, b: any) => {
    const indexOfA = columnOrder.indexOf(a.fieldName);
    const indexOfB = columnOrder.indexOf(b.fieldName);
    if (indexOfA > -1 && indexOfB > -1) return indexOfA - indexOfB;
  };

  const beforeTableEncode = (rows: any) => {
    rows.sort(customSort);
    return rows;
  };

  exportFromJSON({ data, fileName, exportType, beforeTableEncode });
};

const completeWorkorder = async (id: string) => {
  isLoading.value = { ...isLoading.value, [id]: 'loading' };
  await markWorkorderComplete(id);
  await refreshRows();
  isLoading.value = { ...isLoading.value, [id]: 'hidden' };
};

const refreshRows = async () => {
  const cust = await getAllWorkorders();
  localWorkorders.value = cust && [...cust];
  localWorkorderRows.value = localWorkorders.value.map(
    ({
      title,
      description,
      employeeId,
      employeeName,
      customerId,
      customerName,
      status,
      comments,
      id,
    }: WorkorderRow) => ({
      title,
      description,
      employeeId,
      employeeName,
      customerId,
      customerName,
      status,
      comments,
      id,
    }),
  );
};

onBeforeMount(async () => {
  await refreshRows();
});
</script>

<style scoped lang="scss">
.action {
  margin-right: 10px;

  span {
    display: flex;
    align-items: center;
  }
}

.button-wrapper {
  display: flex;
  align-items: center;
}
</style>
